.mobile__menu {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 1000;


  svg {
    width: 30px;
    height: 30px;
    stroke: #7e7d7d;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &_lists {
    padding-left: 0;

    .mobile__menu_list {
      list-style: none;
      margin: 20px 0;
      text-align: center;
      a {
        font-size: 20px;
        color: #3C4048;
        text-decoration: none;
      }
    }
  }
}
.mobile__menu_active {
  display: flex;
}
