@import "styles/variables";
@import "styles/globals";

.settings {
  padding: 15px 0;
  background: #E7E7E7;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: $gray;
  position: relative;
  &__wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include max-custom(1000px) {
      max-width: 700px;
      justify-content: center;
      gap: 10px 20px;
    }


    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #dedede;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  .settings__subtitle_options {
    color: #181818;
    font-weight: 400;
  }
  &__types ,&__year ,&__min_rating , &__max_rating {
    @include max-custom(550px) {
      font-size: 14px;
      width: 100%;
    }
  }


}
